{
  "swagger": "2.0",
  "info": {
    "title": "API v1",
    "version": "v1",
    "description": "DocSpring is a service that helps you fill out and sign PDF templates."
  },
  "host": "api.docspring.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "securityDefinitions": {
    "api_token_basic": {
      "type": "basic",
      "description": "Username: API Token ID, Password: API Token Secret"
    }
  },
  "definitions": {
    "error": {
      "title": "error_response",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "error"
          ]
        },
        "error": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "error"
      ]
    },
    "authentication_error": {
      "title": "authentication_error_response",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "error"
          ]
        },
        "error": {
          "type": "string"
        }
      },
      "required": [
        "error"
      ]
    },
    "invalid_request": {
      "title": "invalid_request_response",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "error"
          ]
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "status",
        "errors"
      ]
    },
    "submission": {
      "title": "submission",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "template_id": {
          "type": "string"
        },
        "test": {
          "type": "boolean"
        },
        "editable": {
          "type": "boolean",
          "x-nullable": true
        },
        "expired": {
          "type": "boolean"
        },
        "expires_at": {
          "type": "string",
          "x-nullable": true
        },
        "processed_at": {
          "type": "string",
          "x-nullable": true
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "processed",
            "invalid_data",
            "error",
            "image_download_failed",
            "image_processing_failed",
            "waiting_for_data_requests",
            "syntax_error",
            "account_suspended",
            "license_revoked",
            "accidental"
          ]
        },
        "data": {
          "type": "object",
          "x-nullable": true
        },
        "metadata": {
          "type": "object"
        },
        "truncated_text": {
          "type": "object"
        },
        "pdf_hash": {
          "type": "string",
          "x-nullable": true
        },
        "download_url": {
          "type": "string",
          "x-nullable": true
        },
        "permanent_download_url": {
          "type": "string",
          "x-nullable": true
        },
        "batch_id": {
          "type": "string",
          "x-nullable": true
        },
        "data_requests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/submission_data_request"
          }
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/submission_action"
          }
        },
        "source": {
          "type": "string",
          "x-nullable": true
        },
        "referrer": {
          "type": "string",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "state",
        "test",
        "expired"
      ]
    },
    "submission_data_request": {
      "title": "submission_data_request",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "email": {
          "type": "string",
          "x-nullable": true
        },
        "order": {
          "type": "integer"
        },
        "sort_order": {
          "type": "integer"
        },
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-nullable": true
        },
        "metadata": {
          "type": "object"
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "completed"
          ]
        },
        "viewed_at": {
          "type": "string",
          "x-nullable": true
        },
        "completed_at": {
          "type": "string",
          "x-nullable": true
        },
        "auth_type": {
          "type": "string",
          "enum": [
            "none",
            "password",
            "oauth",
            "email_link",
            "phone_number",
            "ldap",
            "saml"
          ]
        },
        "auth_second_factor_type": {
          "type": "string",
          "enum": [
            "none",
            "phone_number",
            "totp",
            "mobile_push",
            "security_key",
            "fingerprint"
          ]
        },
        "auth_provider": {
          "type": "string",
          "x-nullable": true
        },
        "auth_session_started_at": {
          "type": "string",
          "x-nullable": true
        },
        "auth_session_id_hash": {
          "type": "string",
          "x-nullable": true
        },
        "auth_user_id_hash": {
          "type": "string",
          "x-nullable": true
        },
        "auth_username_hash": {
          "type": "string",
          "x-nullable": true
        },
        "auth_phone_number_hash": {
          "type": "string",
          "x-nullable": true
        },
        "ip_address": {
          "type": "string",
          "x-nullable": true
        },
        "user_agent": {
          "type": "string",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "name",
        "email",
        "order",
        "sort_order",
        "fields",
        "metadata",
        "state"
      ]
    },
    "submission_action": {
      "title": "submission_action",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "integration_id": {
          "type": "string",
          "x-nullable": true
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "processed",
            "failed",
            "error"
          ]
        },
        "action_category": {
          "type": "string",
          "enum": [
            "notification",
            "file_upload"
          ]
        },
        "action_type": {
          "type": "string",
          "enum": [
            "webhook",
            "slack_webhook",
            "email",
            "aws_s3_upload"
          ]
        },
        "result_data": {
          "type": "object"
        }
      },
      "required": [
        "id",
        "integration_id",
        "state",
        "action_category",
        "action_type",
        "result_data"
      ]
    },
    "combined_submission_action": {
      "title": "combined_submission_action",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "integration_id": {
          "type": "string",
          "x-nullable": true
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "processed",
            "failed",
            "error"
          ]
        },
        "action_category": {
          "type": "string",
          "enum": [
            "notification",
            "file_upload"
          ]
        },
        "action_type": {
          "type": "string",
          "enum": [
            "webhook",
            "slack_webhook",
            "email",
            "aws_s3_upload"
          ]
        },
        "result_data": {
          "type": "object"
        }
      },
      "required": [
        "id",
        "integration_id",
        "state",
        "action_category",
        "action_type",
        "result_data"
      ]
    }
  },
  "paths": {
    "/authentication": {
      "get": {
        "summary": "Test Authentication",
        "tags": [
          "PDF"
        ],
        "operationId": "testAuthentication",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "authentication succeeded",
            "schema": {
              "title": "authentication_success_response",
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success"
                  ]
                }
              },
              "required": [
                "status"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success"
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/combined_submissions": {
      "post": {
        "summary": "Merge generated PDFs together",
        "tags": [
          "PDF"
        ],
        "operationId": "combineSubmissions",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "expires_in": {
                  "type": "integer"
                },
                "metadata": {
                  "type": "object"
                },
                "password": {
                  "type": "string"
                },
                "submission_ids": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "submission_ids"
              ],
              "title": "combined_submission_data",
              "type": "object",
              "example": {
                "submission_ids": [
                  "sub_000000000000000001",
                  "sub_000000000000000002"
                ],
                "metadata": {
                  "foo": 123,
                  "bar": "baz"
                },
                "expires_in": 300,
                "password": "p@ssword"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "combined submission created",
            "schema": {
              "type": "object",
              "title": "create_combined_submission_response",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "combined_submission": {
                  "title": "combined_submission",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ]
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "password": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "submission_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "source_pdfs": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "submission",
                                  "combined_submission",
                                  "template",
                                  "custom_file"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "id"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "url"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      }
                    },
                    "download_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "pdf_hash": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/combined_submission_action"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "state",
                    "expired",
                    "submission_ids",
                    "source_pdfs"
                  ]
                }
              },
              "required": [
                "status",
                "combined_submission"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "combined_submission": {
                  "id": "com_000000000000000001",
                  "state": "pending",
                  "expired": false,
                  "expires_at": null,
                  "processed_at": null,
                  "submission_ids": [
                    "sub_000000000000000001",
                    "sub_000000000000000002"
                  ],
                  "source_pdfs": [],
                  "metadata": {
                    "foo": 123,
                    "bar": "baz"
                  },
                  "password": "p@ssword",
                  "pdf_hash": null,
                  "download_url": null,
                  "actions": []
                }
              }
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "errors": [
                  "source_pdfs: Could not find Submission with ID: MISSING_ID"
                ]
              }
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 37 in '{ \"submission_ids\": [\"123\", \"345\"], metadata: { \"user_id\": \"This PDF is great!\" }}"
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/combined_submissions?v=2": {
      "post": {
        "summary": "Merge submission PDFs, template PDFs, or custom files",
        "tags": [
          "PDF"
        ],
        "operationId": "combinePdfs",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "delete_custom_files": {
                  "type": "boolean"
                },
                "expires_in": {
                  "type": "integer"
                },
                "metadata": {
                  "type": "object"
                },
                "password": {
                  "type": "string"
                },
                "source_pdfs": {
                  "items": {
                    "oneOf": [
                      {
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "submission",
                              "combined_submission",
                              "template",
                              "custom_file"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "type": "object"
                      },
                      {
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "enum": [
                              "url"
                            ],
                            "type": "string"
                          },
                          "url": {
                            "format": "uri",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "type": "object"
                      }
                    ]
                  },
                  "type": "array"
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "source_pdfs"
              ],
              "title": "combine_pdfs_data",
              "type": "object",
              "example": {
                "source_pdfs": [
                  {
                    "type": "submission",
                    "id": "sub_000000000000000001"
                  },
                  {
                    "type": "template",
                    "id": "tpl_000000000000000001"
                  },
                  {
                    "type": "submission",
                    "id": "sub_000000000000000002"
                  },
                  {
                    "type": "custom_file",
                    "id": "cfi_0000000000000000000000001"
                  },
                  {
                    "type": "combined_submission",
                    "id": "com_000000000000000001"
                  },
                  {
                    "type": "url",
                    "url": "http://example.com/test-pdf.pdf"
                  }
                ],
                "metadata": {
                  "foo": 123,
                  "bar": "baz"
                },
                "expires_in": 300,
                "delete_custom_files": true
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "combined submission created",
            "schema": {
              "type": "object",
              "title": "create_combined_submission_response",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "combined_submission": {
                  "title": "combined_submission",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ]
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "password": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "submission_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "source_pdfs": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "submission",
                                  "combined_submission",
                                  "template",
                                  "custom_file"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "id"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "url"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      }
                    },
                    "download_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "pdf_hash": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/combined_submission_action"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "state",
                    "expired",
                    "submission_ids",
                    "source_pdfs"
                  ]
                }
              },
              "required": [
                "status",
                "combined_submission"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "combined_submission": {
                  "id": "com_000000000000000002",
                  "state": "pending",
                  "expired": false,
                  "expires_at": null,
                  "processed_at": null,
                  "submission_ids": [
                    "sub_000000000000000001",
                    "sub_000000000000000002"
                  ],
                  "source_pdfs": [
                    {
                      "type": "submission",
                      "id": "sub_000000000000000001"
                    },
                    {
                      "type": "template",
                      "id": "tpl_000000000000000001"
                    },
                    {
                      "type": "submission",
                      "id": "sub_000000000000000002"
                    },
                    {
                      "type": "custom_file",
                      "id": "cfi_0000000000000000000000001"
                    },
                    {
                      "type": "combined_submission",
                      "id": "com_000000000000000001"
                    },
                    {
                      "type": "url",
                      "url": "http://example.com/test-pdf.pdf"
                    }
                  ],
                  "metadata": {
                    "foo": 123,
                    "bar": "baz"
                  },
                  "password": null,
                  "pdf_hash": null,
                  "download_url": null,
                  "actions": [
                    {
                      "id": "csa_000000000000000002",
                      "integration_id": "aci_000000000000000001",
                      "state": "processed",
                      "action_type": "aws_s3_upload",
                      "action_category": "file_upload",
                      "result_data": {
                        "s3_key": "acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                        "s3_url": "https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                        "s3_bucket": "docspring-custom-s3-test",
                        "s3_region": "us-east-1"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "errors": [
                  "source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID",
                  "source_pdfs: Template document is not processed: tpl_000000000000000001 (state: pending)",
                  "source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID",
                  "source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID",
                  "source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID"
                ]
              }
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 34 in '{ \"source_pdfs\": [\"123\", \"345\"], metadata: { \"user_id\": \"This PDF is great!\" }}"
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/combined_submissions/{combined_submission_id}": {
      "get": {
        "summary": "Check the status of a combined submission (merged PDFs)",
        "tags": [
          "PDF"
        ],
        "operationId": "getCombinedSubmission",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "combined_submission_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "com_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "processed combined submission found",
            "schema": {
              "title": "combined_submission",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "expired": {
                  "type": "boolean"
                },
                "expires_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "processed",
                    "error"
                  ]
                },
                "metadata": {
                  "type": "object"
                },
                "password": {
                  "type": "string",
                  "x-nullable": true
                },
                "submission_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source_pdfs": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "submission",
                              "combined_submission",
                              "template",
                              "custom_file"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "url"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "download_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "pdf_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/combined_submission_action"
                  }
                }
              },
              "required": [
                "id",
                "state",
                "expired",
                "submission_ids",
                "source_pdfs"
              ]
            },
            "examples": {
              "application/json": {
                "id": "com_000000000000000001",
                "state": "processed",
                "expired": false,
                "expires_at": "2018-10-20T13:05:00Z",
                "processed_at": "2020-05-14T02:00:00Z",
                "submission_ids": [
                  "sub_000000000000000001",
                  "sub_000000000000000002"
                ],
                "source_pdfs": [],
                "metadata": {
                  "qux": "abc",
                  "user_id": 42
                },
                "password": "p@ssword",
                "pdf_hash": "12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                "download_url": "https://example.com/combined_submissions/combined_submission.pdf",
                "actions": [
                  {
                    "id": "csa_000000000000000001",
                    "integration_id": "aci_000000000000000001",
                    "state": "processed",
                    "action_type": "aws_s3_upload",
                    "action_category": "file_upload",
                    "result_data": {
                      "s3_key": "acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                      "s3_url": "https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                      "s3_bucket": "docspring-custom-s3-test",
                      "s3_region": "us-east-1"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "combined submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "Combined submission not found."
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Expire a combined submission",
        "tags": [
          "PDF"
        ],
        "operationId": "expireCombinedSubmission",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "combined_submission_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "com_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "submission was expired",
            "schema": {
              "title": "combined_submission",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "expired": {
                  "type": "boolean"
                },
                "expires_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "processed",
                    "error"
                  ]
                },
                "metadata": {
                  "type": "object"
                },
                "password": {
                  "type": "string",
                  "x-nullable": true
                },
                "submission_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source_pdfs": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "submission",
                              "combined_submission",
                              "template",
                              "custom_file"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "url"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "download_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "pdf_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/combined_submission_action"
                  }
                }
              },
              "required": [
                "id",
                "state",
                "expired",
                "submission_ids",
                "source_pdfs"
              ]
            },
            "examples": {
              "application/json": {
                "id": "com_000000000000000001",
                "state": "processed",
                "expired": true,
                "expires_at": "2018-10-20T13:00:00Z",
                "processed_at": "2020-05-14T02:00:00Z",
                "submission_ids": [
                  "sub_000000000000000001",
                  "sub_000000000000000002"
                ],
                "source_pdfs": [],
                "metadata": {
                  "qux": "abc",
                  "user_id": 42
                },
                "password": "p@ssword",
                "pdf_hash": "12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                "download_url": null,
                "actions": [
                  {
                    "id": "csa_000000000000000001",
                    "integration_id": "aci_000000000000000001",
                    "state": "processed",
                    "action_type": "aws_s3_upload",
                    "action_category": "file_upload",
                    "result_data": {
                      "s3_key": "acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                      "s3_url": "https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                      "s3_bucket": "docspring-custom-s3-test",
                      "s3_region": "us-east-1"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "combined submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "Combined submission not found."
              }
            }
          },
          "403": {
            "description": "test API token used",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "You must use a live API token to expire a combined submission."
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/custom_files": {
      "post": {
        "summary": "Create a new custom file from a cached presign upload",
        "tags": [
          "PDF"
        ],
        "operationId": "createCustomFileFromUpload",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "cache_id": {
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "cache_id"
              ],
              "title": "create_custom_file_data",
              "type": "object",
              "example": {
                "cache_id": "00000000000000001.pdf"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "returns the custom file",
            "schema": {
              "title": "create_custom_file_response",
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "custom_file": {
                  "title": "custom_file",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "url"
                  ]
                }
              },
              "required": [
                "status",
                "custom_file"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "custom_file": {
                  "id": "cfi_000000000000000001",
                  "url": "/uploads/test/store/acc_000000000000000001/custom_files/cfi_000000000000000001.pdf"
                }
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/folders/": {
      "get": {
        "summary": "Get a list of all folders",
        "tags": [
          "PDF"
        ],
        "operationId": "listFolders",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parent_folder_id",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter By Folder Id",
            "x-example": "fld_000000000000000002"
          }
        ],
        "responses": {
          "200": {
            "description": "enumerate all folders",
            "schema": {
              "title": "folders",
              "type": "array",
              "items": {
                "title": "folder",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "parent_folder_id": {
                    "type": "string",
                    "x-nullable": true
                  }
                }
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "fld_000000000000000003",
                  "name": "nested folder 1",
                  "path": "/Folder 2",
                  "parent_folder_id": "fld_000000000000000002"
                },
                {
                  "id": "fld_000000000000000002",
                  "name": "Folder 2",
                  "path": "/",
                  "parent_folder_id": null
                },
                {
                  "id": "fld_000000000000000001",
                  "name": "Folder 1",
                  "path": "/",
                  "parent_folder_id": null
                }
              ]
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a folder",
        "tags": [
          "PDF"
        ],
        "operationId": "createFolder",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "folder": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "parent_folder_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "folder"
              ],
              "title": "create_folder_data",
              "type": "object",
              "example": {
                "folder": {
                  "name": "Folder 3"
                }
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "name already exist",
            "schema": {
              "title": "folder",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                }
              }
            }
          },
          "404": {
            "description": "parent folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "200": {
            "description": "folder created inside another folder",
            "schema": {
              "title": "folder",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "fld_0000000000000000n1",
                "name": "Folder 3",
                "path": "/",
                "parent_folder_id": null
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/move": {
      "post": {
        "summary": "Move a folder",
        "tags": [
          "PDF"
        ],
        "operationId": "moveFolderToFolder",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "fld_000000000000000001"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "parent_folder_id": {
                  "type": "string"
                }
              },
              "title": "move_folder_data",
              "type": "object",
              "example": {
                "parent_folder_id": "fld_000000000000000002"
              }
            }
          }
        ],
        "responses": {
          "404": {
            "description": "parent folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "200": {
            "description": "move to root folder",
            "schema": {
              "title": "folder",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "fld_000000000000000001",
                "name": "Folder 1",
                "path": "/Folder 2",
                "parent_folder_id": "fld_000000000000000002"
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/rename": {
      "post": {
        "summary": "Rename a folder",
        "tags": [
          "PDF"
        ],
        "operationId": "renameFolder",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "fld_000000000000000001"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "title": "rename_folder_data",
              "type": "object",
              "example": {
                "name": "Folder 3"
              }
            }
          }
        ],
        "responses": {
          "422": {
            "description": "name already exist"
          },
          "404": {
            "description": "folder doesnt belong to me"
          },
          "200": {
            "description": "successful rename",
            "examples": {
              "application/json": {
                "id": "fld_000000000000000001",
                "name": "Folder 3",
                "path": "/",
                "parent_folder_id": null
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}": {
      "delete": {
        "summary": "Delete a folder",
        "tags": [
          "PDF"
        ],
        "operationId": "deleteFolder",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "fld_000000000000000001"
          }
        ],
        "responses": {
          "404": {
            "description": "folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "422": {
            "description": "folder has contents",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "200": {
            "description": "folder is empty",
            "schema": {
              "title": "folder",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "fld_000000000000000001",
                "name": "Folder 1",
                "path": "/",
                "parent_folder_id": null
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/data_requests/{data_request_id}/tokens": {
      "post": {
        "summary": "Creates a new data request token for form authentication",
        "tags": [
          "PDF"
        ],
        "operationId": "createDataRequestToken",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data_request_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "drq_000000000000000001"
          }
        ],
        "responses": {
          "201": {
            "description": "token created",
            "schema": {
              "title": "create_submission_data_request_token_response",
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "token": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "secret": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "data_request_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "secret",
                    "expires_at",
                    "data_request_url"
                  ]
                }
              },
              "required": [
                "status",
                "token"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "token": {
                  "id": "000000000000000001",
                  "secret": "ABCDEF01234567890",
                  "expires_at": "2018-10-20T14:00:00Z",
                  "data_request_url": "http://app.docspring.local/data_requests/drq_000000000000000001?token_id=000000000000000001&token_secret=ABCDEF01234567890"
                }
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    },
    "/data_requests/{data_request_id}": {
      "get": {
        "summary": "Look up a submission data request",
        "tags": [
          "PDF"
        ],
        "operationId": "getDataRequest",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data_request_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "drq_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "completed submission data request found",
            "schema": {
              "$ref": "#/definitions/submission_data_request"
            },
            "examples": {
              "application/json": {
                "id": "drq_000000000000000001",
                "email": "jdoe@example.com",
                "name": "John Doe",
                "order": 1,
                "sort_order": 0,
                "fields": [
                  "description"
                ],
                "metadata": {
                  "user_id": 42
                },
                "state": "pending",
                "viewed_at": null,
                "completed_at": null,
                "data": {
                  "description": "Great PDF, good job!"
                },
                "auth_type": "password",
                "auth_second_factor_type": "phone_number",
                "auth_provider": null,
                "auth_session_started_at": "2018-10-23T13:00:00Z",
                "auth_session_id_hash": null,
                "auth_user_id_hash": "8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a",
                "auth_username_hash": "b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b",
                "auth_phone_number_hash": "fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490",
                "ip_address": "1.1.1.1",
                "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
              }
            }
          },
          "404": {
            "description": "submission data request not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "Data request not found."
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Invalid API token secret"
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a submission data request",
        "tags": [
          "PDF"
        ],
        "operationId": "updateDataRequest",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data_request_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "drq_000000000000000001"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "auth_phone_number_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_provider": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_second_factor_type": {
                  "enum": [
                    "none",
                    "phone_number",
                    "totp",
                    "mobile_push",
                    "security_key",
                    "fingerprint"
                  ],
                  "type": "string"
                },
                "auth_session_id_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_session_started_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_type": {
                  "enum": [
                    "none",
                    "password",
                    "oauth",
                    "email_link",
                    "phone_number",
                    "ldap",
                    "saml"
                  ],
                  "type": "string"
                },
                "auth_user_id_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_username_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "email": {
                  "type": "string",
                  "x-nullable": true
                },
                "fields": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "metadata": {
                  "type": "object"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "order": {
                  "type": "integer"
                }
              },
              "title": "update_submission_data_request_data",
              "type": "object",
              "example": {
                "metadata": {
                  "user_id": 123
                },
                "auth_type": "oauth",
                "auth_provider": "google",
                "auth_session_started_at": "2018-10-23 09:00:00 -0400",
                "auth_session_id_hash": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "submission data request updated",
            "schema": {
              "title": "update_data_request_response",
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "data_request": {
                  "$ref": "#/definitions/submission_data_request"
                }
              },
              "required": [
                "status",
                "data_request"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "data_request": {
                  "id": "drq_000000000000000001",
                  "email": "jdoe@example.com",
                  "name": "John Doe",
                  "order": 1,
                  "sort_order": 0,
                  "fields": [
                    "description"
                  ],
                  "metadata": {
                    "user_id": 123
                  },
                  "state": "pending",
                  "viewed_at": null,
                  "completed_at": null,
                  "data": {
                    "description": "Great PDF, good job!"
                  },
                  "auth_type": "oauth",
                  "auth_second_factor_type": "none",
                  "auth_provider": "google",
                  "auth_session_started_at": "2018-10-23T13:00:00Z",
                  "auth_session_id_hash": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92",
                  "auth_user_id_hash": null,
                  "auth_username_hash": null,
                  "auth_phone_number_hash": null,
                  "ip_address": "1.1.1.1",
                  "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                }
              }
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "errors": [
                  "Data requests cannot be updated after they have been completed."
                ]
              }
            }
          },
          "404": {
            "description": "submission data request not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "Data request not found."
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Invalid API token secret"
              }
            }
          }
        }
      }
    },
    "/templates/{template_id}/submissions/batch": {
      "post": {
        "summary": "Generates multiple PDFs",
        "tags": [
          "PDF"
        ],
        "operationId": "batchGeneratePdfV1",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "tpl_000000000000000001"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "items": {
                "title": "submission_data",
                "type": "object"
              },
              "properties": {
                "css": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                },
                "data_requests": {
                  "items": {
                    "properties": {
                      "auth_phone_number_hash": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "auth_provider": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "auth_second_factor_type": {
                        "enum": [
                          "none",
                          "phone_number",
                          "totp",
                          "mobile_push",
                          "security_key",
                          "fingerprint"
                        ],
                        "type": "string"
                      },
                      "auth_session_id_hash": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "auth_session_started_at": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "auth_type": {
                        "enum": [
                          "none",
                          "password",
                          "oauth",
                          "email_link",
                          "phone_number",
                          "ldap",
                          "saml"
                        ],
                        "type": "string"
                      },
                      "auth_user_id_hash": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "auth_username_hash": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "email": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "fields": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "x-nullable": true
                      },
                      "metadata": {
                        "type": "object"
                      },
                      "name": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "order": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "email",
                      "auth_type"
                    ],
                    "title": "create_submission_data_request_data",
                    "type": "object"
                  },
                  "type": "array"
                },
                "html": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "data"
              ],
              "title": "create_submission_batch_v1",
              "type": "array",
              "example": [
                {
                  "data": {
                    "title": "Test PDF 1",
                    "description": "This PDF is great!"
                  },
                  "metadata": {
                    "submission_number": 1
                  }
                },
                {
                  "data": {
                    "title": "Test PDF 2",
                    "description": "This PDF is also pretty good!"
                  },
                  "metadata": {
                    "submission_number": 2
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "submissions created",
            "schema": {
              "type": "array",
              "items": {
                "title": "create_submission_response",
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "success",
                      "error"
                    ]
                  },
                  "errors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "submission": {
                    "$ref": "#/definitions/submission"
                  }
                },
                "required": [
                  "status",
                  "submission"
                ]
              }
            },
            "examples": {
              "application/json": [
                {
                  "status": "success",
                  "submission": {
                    "id": "sub_000000000000000001",
                    "template_id": "tpl_000000000000000001",
                    "batch_id": null,
                    "state": "pending",
                    "test": false,
                    "editable": null,
                    "expired": false,
                    "expires_at": null,
                    "password": null,
                    "json_schema_errors": [],
                    "truncated_text": {},
                    "metadata": {
                      "submission_number": 1
                    },
                    "processed_at": null,
                    "data_requests": [],
                    "pdf_hash": null,
                    "download_url": null,
                    "permanent_download_url": null,
                    "actions": []
                  }
                },
                {
                  "status": "success",
                  "submission": {
                    "id": "sub_000000000000000002",
                    "template_id": "tpl_000000000000000001",
                    "batch_id": null,
                    "state": "pending",
                    "test": false,
                    "editable": null,
                    "expired": false,
                    "expires_at": null,
                    "password": null,
                    "json_schema_errors": [],
                    "truncated_text": {},
                    "metadata": {
                      "submission_number": 2
                    },
                    "processed_at": null,
                    "data_requests": [],
                    "pdf_hash": null,
                    "download_url": null,
                    "permanent_download_url": null,
                    "actions": []
                  }
                }
              ]
            }
          },
          "422": {
            "description": "invalid requests",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/invalid_request"
              }
            },
            "examples": {
              "application/json": [
                {
                  "status": "error",
                  "submission": {
                    "id": "sub_000000000000000001",
                    "template_id": "tpl_000000000000000001",
                    "batch_id": null,
                    "state": "invalid_data",
                    "test": false,
                    "editable": null,
                    "expired": false,
                    "expires_at": null,
                    "password": null,
                    "json_schema_errors": [
                      "Your submission data did not contain a required property of 'description'"
                    ],
                    "truncated_text": {},
                    "metadata": {
                      "submission_number": 1
                    },
                    "processed_at": null,
                    "data_requests": [],
                    "pdf_hash": null,
                    "download_url": null,
                    "permanent_download_url": null,
                    "actions": []
                  },
                  "errors": [
                    "Your submission data did not contain a required property of 'description'"
                  ]
                },
                {
                  "status": "error",
                  "submission": {
                    "id": "sub_000000000000000002",
                    "template_id": "tpl_000000000000000001",
                    "batch_id": null,
                    "state": "invalid_data",
                    "test": false,
                    "editable": null,
                    "expired": false,
                    "expires_at": null,
                    "password": null,
                    "json_schema_errors": [
                      "Your submission data did not contain a required property of 'title'"
                    ],
                    "truncated_text": {},
                    "metadata": {
                      "submission_number": 2
                    },
                    "processed_at": null,
                    "data_requests": [],
                    "pdf_hash": null,
                    "download_url": null,
                    "permanent_download_url": null,
                    "actions": []
                  },
                  "errors": [
                    "Your submission data did not contain a required property of 'title'"
                  ]
                }
              ]
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Invalid API token secret"
              }
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 24 in '{ \"title\": \"Test PDF\", description: \"This PDF is great!\" }"
              }
            }
          }
        }
      }
    },
    "/submissions/batches": {
      "post": {
        "summary": "Generates multiple PDFs",
        "tags": [
          "PDF"
        ],
        "operationId": "batchGeneratePdfs",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "metadata": {
                  "type": "object"
                },
                "submissions": {
                  "items": {
                    "properties": {
                      "css": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      },
                      "html": {
                        "type": "string"
                      },
                      "metadata": {
                        "type": "object"
                      },
                      "template_id": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "test": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "template_id",
                      "data"
                    ],
                    "title": "submission_data_batch_request",
                    "type": "object"
                  },
                  "type": "array"
                },
                "template_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "submissions"
              ],
              "title": "submission_batch_data",
              "type": "object",
              "example": {
                "metadata": {
                  "job_id": 54321
                },
                "test": true,
                "template_id": null,
                "submissions": [
                  {
                    "test": false,
                    "template_id": "tpl_000000000000000001",
                    "data": {
                      "title": "Test PDF 1",
                      "description": "This PDF is great!"
                    },
                    "metadata": {
                      "submission_number": 1
                    }
                  },
                  {
                    "template_id": "tpl_000000000000000001",
                    "data": {
                      "title": "Test PDF 2",
                      "description": "This PDF is also pretty good!"
                    },
                    "metadata": {
                      "submission_number": 2
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "submissions created",
            "schema": {
              "type": "object",
              "title": "create_submission_batch_response",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "error": {
                  "type": "string"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "submission_batch": {
                  "type": "object",
                  "title": "submission_batch",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "pending_count": {
                      "type": "integer"
                    },
                    "error_count": {
                      "type": "integer"
                    },
                    "completion_percentage": {
                      "type": "integer"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ]
                    },
                    "processed_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "submissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/submission"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "total_count",
                    "pending_count",
                    "error_count",
                    "completion_percentage",
                    "state",
                    "processed_at",
                    "metadata"
                  ]
                },
                "submissions": {
                  "type": "array",
                  "items": {
                    "title": "create_submission_batch_submissions_response",
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "success",
                          "error",
                          "valid_but_not_saved"
                        ]
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "submission": {
                        "$ref": "#/definitions/submission"
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                }
              },
              "required": [
                "status",
                "submission_batch",
                "submissions"
              ]
            },
            "examples": {
              "application/json": {
                "status": "success",
                "submission_batch": {
                  "id": "sbb_000000000000000001",
                  "state": "pending",
                  "metadata": {
                    "job_id": 54321
                  },
                  "processed_at": null,
                  "total_count": 2,
                  "pending_count": 2,
                  "error_count": 0,
                  "completion_percentage": 0
                },
                "submissions": [
                  {
                    "status": "success",
                    "submission": {
                      "id": "sub_000000000000000001",
                      "template_id": "tpl_000000000000000001",
                      "batch_id": "sbb_000000000000000001",
                      "state": "pending",
                      "test": false,
                      "editable": null,
                      "expired": false,
                      "expires_at": null,
                      "password": null,
                      "json_schema_errors": [],
                      "truncated_text": {},
                      "metadata": {
                        "submission_number": 1
                      },
                      "processed_at": null,
                      "data_requests": [],
                      "pdf_hash": null,
                      "download_url": null,
                      "permanent_download_url": null,
                      "actions": []
                    }
                  },
                  {
                    "status": "success",
                    "submission": {
                      "id": "sub_000000000000000002",
                      "template_id": "tpl_000000000000000001",
                      "batch_id": "sbb_000000000000000001",
                      "state": "pending",
                      "test": true,
                      "editable": null,
                      "expired": false,
                      "expires_at": null,
                      "password": null,
                      "json_schema_errors": [],
                      "truncated_text": {},
                      "metadata": {
                        "submission_number": 2
                      },
                      "processed_at": null,
                      "data_requests": [],
                      "pdf_hash": null,
                      "download_url": null,
                      "permanent_download_url": null,
                      "actions": []
                    }
                  }
                ]
              }
            }
          },
          "200": {
            "description": "some PDFs with invalid data",
            "schema": {
              "type": "object",
              "title": "create_submission_batch_response",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "error"
                  ]
                },
                "error": {
                  "type": "string"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "submission_batch": {
                  "type": "object",
                  "title": "submission_batch",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "pending_count": {
                      "type": "integer"
                    },
                    "error_count": {
                      "type": "integer"
                    },
                    "completion_percentage": {
                      "type": "integer"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ]
                    },
                    "processed_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "submissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/submission"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "total_count",
                    "pending_count",
                    "error_count",
                    "completion_percentage",
                    "state",
                    "processed_at",
                    "metadata"
                  ]
                },
                "submissions": {
                  "type": "array",
                  "items": {
                    "title": "create_submission_batch_submissions_response",
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "success",
                          "error",
                          "valid_but_not_saved"
                        ]
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "submission": {
                        "$ref": "#/definitions/submission"
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                }
              },
              "required": [
                "status",
                "submission_batch",
                "submissions"
              ]
            },
            "examples": {
              "application/json": {
                "status": "error",
                "submission_batch": {
                  "id": "sbb_000000000000000001",
                  "state": "error",
                  "metadata": {
                    "job_id": 54321
                  },
                  "processed_at": null,
                  "total_count": 2,
                  "pending_count": 0,
                  "error_count": 1,
                  "completion_percentage": 100
                },
                "submissions": [
                  {
                    "status": "valid_but_not_saved"
                  },
                  {
                    "status": "error",
                    "submission": {
                      "id": "sub_000000000000000001",
                      "template_id": "tpl_000000000000000001",
                      "batch_id": "sbb_000000000000000001",
                      "state": "invalid_data",
                      "test": true,
                      "editable": null,
                      "expired": false,
                      "expires_at": null,
                      "password": null,
                      "json_schema_errors": [
                        "Your submission data did not contain a required property of 'title'"
                      ],
                      "truncated_text": {},
                      "metadata": {
                        "submission_number": 2
                      },
                      "processed_at": null,
                      "data_requests": [],
                      "pdf_hash": null,
                      "download_url": null,
                      "permanent_download_url": null,
                      "actions": []
                    },
                    "errors": [
                      "Your submission data did not contain a required property of 'title'"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            },
            "examples": {
              "application/json": {
                "error": "Invalid API token secret"
              }
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status": "error",
                "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 24 in '{ \"title\": \"Test PDF\", description: \"This PDF is great!\" }"
              }
            }
          }
        }
      }
    },
    "/submissions/batches/{submission_batch_id}": {
      "get": {
        "summary": "Check the status of a submission batch job",
        "tags": [
          "PDF"
        ],
        "operationId": "getSubmissionBatch",
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "submission_batch_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-example": "sbb_000000000000000001"
          },
          {
[...]
